In [19]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [20]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [21]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [22]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
unique_schools=len(pd.unique(school_data_complete['school_name']))
unique_schools

15

In [24]:
total_students=len(pd.unique(school_data_complete['Student ID']))
total_students

39170

In [25]:
total_budget=sum(school_data_complete['budget'])
total_budget

82932329558

In [26]:
reading_avg=sum(school_data_complete['reading_score'])/len(school_data_complete['reading_score'])
reading_avg

81.87784018381414

In [27]:
math_avg=sum(school_data_complete['math_score'])/len(school_data_complete['math_score'])
math_avg

78.98537145774827

In [38]:
passed_reading=school_data_complete.loc[school_data_complete['reading_score']>=70]
percent_passed_reading=len(pd.unique(passed_reading['Student ID']))/total_students*100
percent_passed_reading

85.80546336482001

In [36]:
passed_math=school_data_complete.loc[school_data_complete['math_score']>=70]
percent_passed_math=len(pd.unique(passed_math['Student ID']))/total_students*100

74.9808526933878

In [45]:
passed_both=school_data_complete.loc[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]
percent_passed_both=len(pd.unique(passed_both['Student ID']))/total_students*100
percent_passed_both

65.17232575950983

In [47]:
school_data_complete['passed']=school_data_complete.apply(lambda x: x.reading_score >= 70 and x.math_score >= 70, axis=1)

In [48]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passed
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True

In [50]:
school_performance=school_data_complete.groupby(['school_name'])
school_performance

In [61]:
school_aggregate=school_data_complete.groupby(['school_name']).agg(pct_passed=pd.NamedAgg("passed", aggfunc='sum'), 
                                                 total_students=pd.NamedAgg("passed", aggfunc='count'))

In [64]:
#school_data_complete.groupby(['school_name'])['passed'].apply(lambda x: x.sum()/len(x)).sort_values(ascending=False).head()

school_name
Cabrera High School    0.913348
Thomas High School     0.909480
Griffin High School    0.905995
Wilson High School     0.905826
Pena High School       0.905405
Name: passed, dtype: float64

In [62]:
school_aggregate['percent_pass']=school_aggregate['pct_passed']/school_aggregate['total_students']*100
school_aggregate

                       pct_passed  total_students  percent_pass
school_name
Bailey High School           2719            4976     54.642283
Cabrera High School          1697            1858     91.334769
Figueroa High School         1569            2949     53.204476
Ford High School             1487            2739     54.289887
Griffin High School          1330            1468     90.599455
Hernandez High School        2481            4635     53.527508
Holden High School            381             427     89.227166
Huang High School            1561            2917     53.513884
Johnson High School          2549            4761     53.539172
Pena High School              871             962     90.540541
Rodriguez High School        2119            3999     52.988247
Shelton High School          1583            1761     89.892107
Thomas High School           1487            1635     90.948012
Wilson High School           2068            2283     90.582567
Wright High School           1626            1800     90.333333

In [57]:
school_aggregate.sort_values('percent_pass', ascending=False).head()

                     pct_passed  total_students  percent_pass
school_name
Cabrera High School        1697            1858     91.334769
Thomas High School         1487            1635     90.948012
Griffin High School        1330            1468     90.599455
Wilson High School         2068            2283     90.582567
Pena High School            871             962     90.540541

In [65]:
school_aggregate.sort_values('percent_pass', ascending=True).head()

                       pct_passed  total_students  percent_pass
school_name
Rodriguez High School        2119            3999     52.988247
Figueroa High School         1569            2949     53.204476
Huang High School            1561            2917     53.513884
Hernandez High School        2481            4635     53.527508
Johnson High School          2549            4761     53.539172

In [73]:
schools_compiled=school_data_complete.groupby(['school_name', 'grade'])
schools_compiled[['math_score','reading_score']].aggregate('mean')

                             math_score  reading_score
school_name           grade
Bailey High School    10th    76.996772      80.907183
                      11th    77.515588      80.945643
                      12th    76.492218      80.912451
                      9th     77.083676      81.303155
Cabrera High School   10th    83.154506      84.253219
                      11th    82.765560      83.788382
                      12th    83.277487      84.287958
                      9th     83.094697      83.676136
Figueroa High School  10th    76.539974      81.408912
                      11th    76.884344      80.640339
                      12th    77.151369      81.384863
                      9th     76.403037      81.198598
Ford High School      10th    77.672316      81.262712
                      11th    76.918058      80.403642
                      12th    76.179963      80.662338
                      9th     77.361345      80.632653
Griffin High School   10th    84.229064      83.706897
                      11th    83.842105      84.288089
                      12th    83.356164      84.013699
                      9th     82.044010      83.369193
Hernandez High School 10th    77.337408      80.660147
                      11th    77.136029      81.396140
                      12th    77.186567      80.857143
                      9th     77.438495      80.866860
Holden High School    10th    83.429825      83.324561
                      11th    85.000000      83.815534
                      12th    82.855422      84.698795
                      9th     83.787402      83.677165
Huang High School     10th    75.908735      81.512386
                      11th    76.446602      81.417476
                      12th    77.225641      80.305983
                      9th     77.027251      81.290284
Johnson High School   10th    76.691117      80.773431
                      11th    77.491653      80.616027
                      12th    76.863248      81.227564
                      9th     77.187857      81.260714
Pena High School      10th    83.372000      83.612000
                      11th    84.328125      84.335938
                      12th    84.121547      84.591160
                      9th     83.625455      83.807273
Rodriguez High School 10th    76.612500      80.629808
                      11th    76.395626      80.864811
                      12th    77.690748      80.376426
                      9th     76.859966      80.993127
Shelton High School   10th    82.917411      83.441964
                      11th    83.383495      84.373786
                      12th    83.778976      82.781671
                      9th     83.420755      84.122642
Thomas High School    10th    83.087886      84.254157
                      11th    83.498795      83.585542
                      12th    83.497041      83.831361
                      9th     83.590022      83.728850
Wilson High School    10th    83.724422      84.021452
                      11th    83.195326      83.764608
                      12th    83.035794      84.317673
                      9th     83.085578      83.939778
Wright High School    10th    84.010288      83.812757
                      11th    83.836782      84.156322
                      12th    83.644986      84.073171
                      9th     83.264706      83.833333

/var/folders/qc/d04_m_7n4cs5y22qn84znkg80000gn/T/ipykernel_6391/1398694061.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  schools_compiled.agg('mean')

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget    passed
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0  0.556901
                      11th         7.0  4976.0  3124928.0  0.552358
                      12th         7.0  4976.0  3124928.0  0.520428
                      9th          7.0  4976.0  3124928.0  0.550754
Cabrera High School   10th         6.0  1858.0  1081356.0  0.914163
                      11th         6.0  1858.0  1081356.0  0.898340
                      12th         6.0  1858.0  1081356.0  0.918848
                      9th          6.0  1858.0  1081356.0  0.922348
Figueroa High School  10th         1.0  2949.0  1884411.0  0.537353
                      11th         1.0  2949.0  1884411.0  0.503526
                      12th         1.0  2949.0  1884411.0  0.561997
                      9th          1.0  2949.0  1884411.0  0.529206
Ford High School      10th        13.0  2739.0  1763916.0  0.548023
                      11th        13.0  2739.0  1763916.0  0.540212
                      12th        13.0  2739.0  1763916.0  0.513915
                      9th         13.0  2739.0  1763916.0  0.559424
Griffin High School   10th         4.0  1468.0   917500.0  0.913793
                      11th         4.0  1468.0   917500.0  0.916898
                      12th         4.0  1468.0   917500.0  0.907534
                      9th          4.0  1468.0   917500.0  0.887531
Hernandez High School 10th         3.0  4635.0  3022020.0  0.528117
                      11th         3.0  4635.0  3022020.0  0.542279
                      12th         3.0  4635.0  3022020.0  0.531983
                      9th          3.0  4635.0  3022020.0  0.538350
Holden High School    10th         8.0   427.0   248087.0  0.903509
                      11th         8.0   427.0   248087.0  0.873786
                      12th         8.0   427.0   248087.0  0.939759
                      9th          8.0   427.0   248087.0  0.866142
Huang High School     10th         0.0  2917.0  1910635.0  0.526728
                      11th         0.0  2917.0  1910635.0  0.533981
                      12th         0.0  2917.0  1910635.0  0.535043
                      9th          0.0  2917.0  1910635.0  0.543839
Johnson High School   10th        12.0  4761.0  3094650.0  0.530562
                      11th        12.0  4761.0  3094650.0  0.527546
                      12th        12.0  4761.0  3094650.0  0.538462
                      9th         12.0  4761.0  3094650.0  0.544286
Pena High School      10th         9.0   962.0   585858.0  0.900000
                      11th         9.0   962.0   585858.0  0.910156
                      12th         9.0   962.0   585858.0  0.895028
                      9th          9.0   962.0   585858.0  0.912727
Rodriguez High School 10th        11.0  3999.0  2547363.0  0.524038
                      11th        11.0  3999.0  2547363.0  0.522863
                      12th        11.0  3999.0  2547363.0  0.537389
                      9th         11.0  3999.0  2547363.0  0.536082
Shelton High School   10th         2.0  1761.0  1056600.0  0.875000
                      11th         2.0  1761.0  1056600.0  0.922330
                      12th         2.0  1761.0  1056600.0  0.894879
                      9th          2.0  1761.0  1056600.0  0.903774
Thomas High School    10th        14.0  1635.0  1043130.0  0.919240
                      11th        14.0  1635.0  1043130.0  0.901205
                      12th        14.0  1635.0  1043130.0  0.896450
                      9th         14.0  1635.0  1043130.0  0.917570
Wilson High School    10th         5.0  2283.0  1319574.0  0.907591
                      11th         5.0  2283.0  1319574.0  0.904841
                      12th         5.0  2283.0  1319574.0  0.910515
                      9th          5.0  2283.0  1319574.0  0.901743
Wright High School    10th        10.0  1800.0  1049400.0  0.907407
                      11th        10.0  1800.0  1049400.0  0.903448
                      12th        10.0  1800.0  1049400.0  0.897019
                      9th         10.0  1800.0  1049400.0  0.903922